@keyframes slideInFromRight{
  from{

      transform:translateX(100px);
    opacity: 0;
  }
to{
  transform:translate(0);
  opacity: 1;

}
}
@keyframes slideInFromLeft {
  from{
    transform: translateX(-100px);
    opacity: 0;
  }
  to{
    transform:translate(0);
    opacity: 1;
  }
}
@keyframes slideInFromBottom {
  from {
    transform: translateY(100px); /
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes BodyOne_slideInFromTop {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(50px);
  }

}
@keyframes BodyOne_slideInFromBottom {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(-50px);
  }

}
